<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="Pragya Vashishtha">
    <meta name="description" content="Webshop Website of Pragya Vashishtha, a postgraduate student of Interactive Digital Media at Trinity College Dublin.">
    <meta name="keywords" content="IDM, TCD,Design, webshop, art, paintings">
    <title>Pragya Vashishtha</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="/style/stylesheet.css" />
</head>

<!-- header -->
<body class="body-text">
    <div id="container">
        <span id="title"> <a  href="/">Pragya's Shop</a> </span>
        <!-- <span> <a class="navigation_page_names hidden" href="contact.html">Contact</a> </span> -->
        <span> <a class="navigation_page_names " href="/about">About</a> </span> 
        <span> <a class="navigation_page_names" href="/products">Products</a> </span>
    </div>
<!-- page content -->
    <div id="content-top"> 
            <a href="signup.html"> <button class=button type="submit"> Sign up </button> </a>
            <a href="<%= link %>"> <button class=button type="submit"> <%= btnName %> </button> </a>  
    </div>

    <div id="content">
        <p class="big-text">Hi, Welcome to Pragya's webshop </p>
        <p class = "home-content2">Browse through the collections to purchase an original artwork.</p>
<!-- TODO: Implementation of a search bar -->
        <!-- <form class="searchForm" action="action_page.php">
            <input type="text" placeholder="Search by title of product..." name="search">
            <button type="submit" onclick="searchTitle()">Search</button>
        </form> -->

        <div class="block">
            <a class="tile-text " href="/products"><p class="med-text">Check out our products!<p></a>
        </div>
    </div>

    <!-- footer -->
    <div id="footer">
        <p>Follow me on: <a  href="https://www.linkedin.com/in/pragya-vashishtha-81ba20a7/" target="_blank"><img class="icons" src="/images/linkedin.svg" alt="Linkedin icon image"></a> 
                         <a  href="https://www.behance.net/pragyavash" target="_blank"><img class="icons" src="/images/behance.svg" alt="Behance icon image"></a>    
        </p>
    </div>

</body>
</html>