#gameCanvas{
    border-style:double;
    border-width: 3px;
}
.content {
      text-align: center;
}

.key-images{
    height: 30px;
    width: 30px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

  .icons{
    width: 1em;
    height: 1em;
    padding-right: 1%;
}